nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

.user-menu li {
  margin-left: 2em;
}

.categories-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.categories-list li {
  margin-right: 0.5em;
}

.nav-mobile-menu {
  margin-right: 1em;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  nav {
    display: block;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: var(--border);
  }

  .user-menu li {
    margin-left: 0.5em;
    margin-bottom: 2em;
  }
}
